@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Mark-Pro';
    src:url('../fonts/Mark-Pro.woff') format('woff'),
          url('../fonts/Mark-Pro.woff2') format('woff2'),
          url('../fonts/Mark-Pro.svg#Mark-Pro') format('svg'),
          url('../fonts/Mark-Pro.eot'),
          url('../fonts/Mark-Pro.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Mark-Pro.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
  }
body{color: #fff; font-family: 'Mark-Pro';} 
a,a:hover{text-decoration: none; color: #fff;} 
img{max-width: 100%;}
/* landing page css */
.page-box {min-height: 100vh;background-size: cover;background-position: center center;background-repeat: no-repeat; background-attachment: fixed; padding: 32px 67px 0px 300px;}

/* sidebar css */
.sidebar {position: fixed;left: 0;top: 0;width: 300px;z-index: 999; height:100%;display: flex;justify-content: space-between;flex-direction: column; min-height: 440px;}
.sidebar-logo {text-align: center;padding: 54px 10px 30px;}
.sidebar-nav {position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.sidebar-nav .main-nav {margin: 0;list-style-type: none;background: #000;border-radius: 0px 10px 10px 0px;border: 5px solid transparent;border-image: linear-gradient(90deg, rgba(49, 0, 0, 1), rgba(211, 211, 211, 1), rgba(49, 0, 0, 1));border-image-slice: 1;border-left: none;padding: 25px 0;}
.sidebar-nav .main-nav > li {margin: 0 0 30px;}
.sidebar-nav .main-nav > li:last-child{margin: 0px;}
.sidebar-nav .main-nav > li > a {display: flex;position: relative;min-width: 63px;justify-content: center; font-family: 'Stick No Bills', sans-serif;}
.sidebar-nav .main-nav li a span {position: absolute;left: 100%;right: auto;border: 3px solid transparent;color: #fff;text-transform: uppercase;padding: 8px 30px;background:linear-gradient(#000, #000) padding-box, linear-gradient(to left, rgba(255, 255, 255, 0.82), rgba(49, 0, 0, 0.82)) border-box;display: flex;align-items: center;justify-content: center; border-radius: 0 5px 5px 0;letter-spacing: 6px;font-size: 22px;top: 0px;opacity: 0;transition: all 0.3s ease-out 0s; font-weight: 500; white-space: nowrap; min-width: 187px; pointer-events: none;}
.sidebar-nav .main-nav li a span:before {position: absolute;content: "";right: 6px;border-top: 3px solid;border-right: 3px solid;width: 13px;height: 13px;transform: rotate(-135deg);transform-origin: right;margin-top: -11px;top: 50%;}
.sidebar-nav .main-nav li a:hover span,
.sidebar-nav .main-nav li.active a span{opacity:1; pointer-events: all;}

.sidebar-social {text-align: center; padding:20px 10px 20px;}
.sidebar-social h5 {font-size: 22px;text-transform: uppercase;margin: 0 0 20px;background: linear-gradient(to top, rgba(132, 132, 132, 1), rgba(255, 255, 255, 1), rgba(82, 81, 81, 1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 500; font-family: 'Stick No Bills', sans-serif; letter-spacing: 6px;}
.social-links {list-style-type: none;padding: 0;margin: 0;display: flex;justify-content: center;}
.social-links li {margin: 0 10px;}

.main-content {background: linear-gradient(#000,#000) padding-box, linear-gradient(180deg,rgba(73, 0, 0, 0.82),rgba(134, 5, 5, 0.81)) border-box; border: 3px solid transparent;display: block;margin: 0 auto;width: 100%; border-radius: 30px 30px 0px 0px;overflow: hidden; border-bottom: none;}
.inner-container { margin: 0 auto; box-shadow: 0px 4px 4px 6px rgba(103, 2, 2, 0.45);padding: 120px 30px 120px; position: relative; min-height: calc(100vh - 110px);     max-width: calc(100% - 300px);}
.box-bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-position:center center; background-size: contain; background-repeat: no-repeat;}
.box-bg:before{position: absolute; content:""; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(73, 0, 0, 0) 0%, #310000 100%);}


.btn {color: #fff;display: flex;background: rgba(0, 0, 0, 0.25);font-size: 22px;font-family: 'Stick No Bills';letter-spacing: 7px;align-items: center;justify-content: center;height: 55px;padding: 0 30px;border-radius: 5px;border: 3px solid transparent;border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.82), rgba(49, 0, 0, 0.82), rgba(49, 0, 0, 0.82), rgba(255, 255, 255, 0.82));border-image-slice: 1;transition: all 0.3s ease-out 0s;}
.btn:hover{background: #000;}

.top-heading {display: flex;background: #310000;flex-wrap: wrap;padding: 0 40px;box-shadow: 0px 4px 4px rgb(49 0 0 / 49%), inset 0px 4px 4px rgb(0 0 0 / 25%);align-items: center;justify-content: space-between;}
.top-heading .left-nav {margin-top: auto;}
.left-nav .link-list {padding: 0;margin: 0;list-style-type: none;display: flex;}
.left-nav .link-list li {margin-right: 10px;}
.left-nav .link-list li a {color: #fff;padding: 5px 20px;border-radius: 20px 20px 0px 0px;font-size: 22px;letter-spacing: 7px;text-transform: uppercase;font-family: 'Stick No Bills';}
.left-nav .link-list li.active a{background: rgba(0, 0, 0, 0.61);}
.top-heading .right-btn {padding: 9px 0;}

.home-content {text-align: center;position: relative;z-index: 10;}
.home-content h2 {font-size: 25px; line-height: 32px;text-transform: uppercase;margin: 60px 0 180px;}
.home-content ul {padding: 0;margin: 0 auto;list-style-type: none;max-width: 560px;text-align: left;}
.home-content ul li{padding: 0 0 0 40px;position: relative;margin: 0 0 15px;font-size: 25px;line-height: 35px;background: url(../images/list-arrow.svg) no-repeat left center; background-size: 20px auto;;}
.home-content .btn {max-width: 345px;margin: 70px auto 0;}

/* section title */
.section-title {position: relative;text-align: center;margin: 0 0 60px; z-index: 10;}
.section-title h2 {position: relative;padding: 0 0 10px 10px;font-size: 96px;line-height: 1.2;color: #fff;letter-spacing: 0.33em;font-weight: 400; text-transform: uppercase;}
.section-title h2:before {position: absolute;content: "";width: 350px;background: linear-gradient(90deg, rgba(196, 196, 196, 0), rgba(196, 196, 196, 1), rgba(196, 196, 196, 0)) border-box;height: 5px;transform: translateX(-50%);bottom: 0;left: 50%;}

/* main home page css start */
.home-main-info{position: relative;}
.home-main-info::before{position: absolute; content: ""; left: 0; bottom:8%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center; background-size:contain;} 
.home-main-info::after{position: absolute; content: ""; right:0; top: 8%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center;background-size: contain; transform:rotate(180deg); margin-top:73px;} 
.home-main-info .inner-container{padding-bottom: 0;max-width: calc(100% - 500px);}
.main-home-content {position: relative;z-index: 9;background-repeat: no-repeat;background-position: bottom center;min-height:820px;padding: 0 0 70px;display: flex;flex-direction: column;justify-content: space-between;background-size: contain;}
.main-home-content .home-bottom {text-align: right;    max-width: 80%; margin-left: auto;}
.main-home-content p {font-size: 25px;color: #fff;letter-spacing: 7px;}


/* main about page css start */
.about-main-info{position: relative;}

.about-main-info::before{position: absolute; content: ""; left: 0; bottom: 10%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center; background-size:contain;} 
.about-main-info::after{position: absolute; content: ""; right:0; top: 10%; width:140px; height:240px; background: url(../images/semi-circle.png) no-repeat left center;background-size: contain; transform:rotate(180deg); margin-top: 73px;} 
.about-main-info .inner-container{max-width: calc(100% - 500px); padding-bottom: 60px;}
.main-about-content {position: relative;z-index: 9;background-repeat: no-repeat;background-position: top 0px center; display: flex;flex-direction: column;background-size: contain;}
.main-about-content:before {position: absolute;content: "";left: 0;bottom:5%;width: 100%;height: 140px;background-image: url(../images/mission-bg.png);background-repeat: no-repeat;background-position: 10% bottom; background-size:contain;}
.main-about-content .about-bottom {text-align: right;}
.main-about-content .about-top{padding-bottom: 200px;}
.main-about-content .about-top p {font-size: 25px;color: #fff;letter-spacing: 0.33em; }
.main-about-content .about-bottom p {font-size:18px;color: #fff;letter-spacing: 0.33em; max-width: 70%; margin-left: auto;}
.main-about-content .about-bottom p:first-child {font-size: 20px;}
.main-about-content .about-bottom p:nth-child(2n) {text-align: left;margin-right: auto;    margin-left: 0;}

.about-main-info.how-it-work .inner-container{max-width: calc(100% - 300px);}
.hiw-content h4 {font-size: 25px;line-height: 1.3;margin: 0 0 10px;letter-spacing: 0.33em;}
.hiw-list {display: block;width: 100%;}
.hiw-list .hiw-item {display: flex;align-items: center;margin: 0 0 10px;flex-wrap: wrap;width: 100%;}
.hiw-list .hiw-item:nth-child(2n+1) {flex-direction: row-reverse;}
.hiw-list .hiw-item .hiw-img {width: 40%;padding:5px 30px;text-align: center;}
.hiw-list .hiw-item .hiw-text {width: 60%;padding: 0 0 0 0px;}
.hiw-list .hiw-item .hiw-text p{font-size: 18px; line-height: 1.3; letter-spacing: 0.33em;}


.about-main-info.how-it-work::before {top: 20%;bottom: auto;width: 140px;height: 60%;background:transparent;background-image: url(../images/semi-circle.png), url(../images/semi-circle.png);background-size: 120px;background-repeat: no-repeat;background-position: top left, bottom center;}
.about-main-info.how-it-work::after{bottom: 10%;top: auto;width: 140px;height:55%;background:transparent;background-image: url(../images/semi-circle.png), url(../images/semi-circle.png);background-size: 120px;background-repeat: no-repeat;background-position: top left, bottom center;}


/* main about page css end */

/* ecosystem page start  */
.announcement-text {background: linear-gradient(180deg, #490000 0%, #000000 51.35%, #490000 100%);padding: 10px;font-size: 30px;line-height: 1.2;display: flex;flex-wrap: nowrap;overflow: hidden; position: relative; width: 100vw; height:68px;}
.announcement-text p{position: absolute;white-space: nowrap;will-change: transform;animation: marquee 16s linear infinite; margin: 0;white-space: pre; top:17px; letter-spacing: 0.15em;}
@keyframes marquee {
from { transform: translateX(0); }
to { transform: translateX(-50%); }
}
.main-ecosystem-content {position: relative; z-index: 9;}
.ecosystem-heading h4 {font-size: 30px;line-height: 1.3;margin: 0 0 10px;letter-spacing: 0.3em;text-transform: uppercase;}
.ecosystem-heading p {font-size: 25px;letter-spacing: 0.3em;line-height: 1.3; max-width: 95%;}

.inner-container.ecosystem-container {padding-bottom: 40px;}
.fragmenting-box {position: relative;padding: 30px 30px 70px 45%; background-image: url(../images/fragment-1.png), url(../images/fragment-2.png), url(../images/fragment-3.png);     background-repeat: no-repeat;
    background-position: left center, 13% center, bottom right;}
.fragmenting-slider {width: 100%;box-shadow: 0px 2.91188px 2.91188px rgb(0 0 0 / 25%), 0px 2.91188px 2.91188px rgb(0 0 0 / 25%), inset 0px 2.91188px 2.91188px rgb(0 0 0 / 25%);}
.fragmenting-slider img{width:100%;border-radius: 5px;}
.fragmenting-slider .slick-arrow {position: absolute;left: -35px;bottom: 10%;z-index: 9;font-size: 0;border: none;padding: 0;margin: 0;width: 70px;height: 70px;background: linear-gradient(180deg, #2C0000 0%, #2E0000 100%);border-radius: 50%; cursor: pointer;}
.fragmenting-slider .slick-arrow:hover,
.fragmenting-slider .slick-arrow:focus{outline: none; border: none;}
.fragmenting-slider .slick-arrow:before {position: absolute;content: "";border-top: 3px solid #fff;border-right: 3px solid #fff;width: 20px;height: 20px;transform: rotate(-135deg);left: 50%;top: 50%;margin-top: -10px;margin-left: -5px;}
.fragmenting-slider .slick-next.slick-arrow {top: 10%;bottom: auto;right:-35px;left: auto;}
.fragmenting-slider .slick-next.slick-arrow:before {transform: rotate(45deg);margin-left: -15px;}
.fragmenting-slider .slick-slide div {vertical-align: top;}

.marketplace-list{position: relative; padding: 70px 0 35px; background-image: url(../images/marketplace-bg1.png), url(../images/marketplace-bg3.png); background-repeat: no-repeat; background-position: right 3% top 0px, 40% 75%; margin-bottom:-70px;}
.marketplace-list .marketplace-item {display: flex;flex-wrap: wrap;align-items: center;}
.marketplace-list .marketplace-item:nth-child(2n) {flex-direction: row-reverse;align-items: flex-start;}
.marketplace-list .marketplace-item:nth-child(2n) .marketplace-img{text-align: right;}
.marketplace-list .marketplace-item .marketplace-img {width: 35%;text-align: center;padding: 10px 30px;}
.marketplace-list .marketplace-item .marketplace-text {width: 65%; text-align: right;}
.marketplace-list .marketplace-item:nth-child(2n) .marketplace-text{text-align: left;}
.marketplace-item .marketplace-text p{font-size: 20px; line-height: 1.3; letter-spacing: 0.33em;}
.inner-container.algorithm-container:before {position: absolute;right:2%;top: 240px;background: url(../images/alg-1.png);width: 150px;content: "";height: 150px;background-size:113px;background-repeat: no-repeat;background-position: center; pointer-events: none;}
.algorithmic-block{padding: 30px 0 80px; background-image:url(../images/alg-bg2.png), url(../images/alg-3.png); background-repeat: no-repeat; background-position:left 40%, bottom right 10%;}
.algorithmic-rte p {font-size: 25px;line-height: 1.3;letter-spacing: 0.33em;width: 92%;}
.algorithmic-rte p:nth-child(2n) {margin-left: auto; text-align: right;}

/* ecosystem end  */

/* fund page css start */
.main-fund-content {position: relative;z-index: 9;}
.fund-heading {max-width: 83%;}
.fund-heading h4 {margin: 0 0 15px;font-size: 30px;line-height: 1.3;letter-spacing: 0.33em;text-transform: uppercase;font-weight: 400;}
.fund-heading p {font-size: 25px;letter-spacing: 0.33em;}
.fund-overview-content p {font-size: 18px;line-height: 1.3;letter-spacing: 0.33em;max-width: 70.2%;}
.fund-overview-content p:nth-child(2n+1) {margin-left: auto;text-align: right;}
.fund-overview-content p:last-child{max-width: 100%;}

.fund-overview-block{position: relative; padding-bottom: 180px;}
.fund-overview-block:before {position: absolute;content: "";left: 0;top:0px;width: 100%;bottom: 0;background-image:url(../images/overview-bg2.png), url(../images/overview-bg3.png), url(../images/overview-bg4.png), url(../images/overview-bg5.png);background-repeat: no-repeat;background-position:right 9% top 190px, 4% 80%, 40% bottom, 73% 97%;z-index: 1;}
.fund-overview-block .section-title h2{display: inline-block;}
.fund-overview-block .section-title h2:after {position: absolute;content: "";right: -150px;width: 212px;height: 264px;top: -89px;background: url(../images/overview-bg1.png) no-repeat center center;}

.main-fund-content.main-structure-content {position: relative;}
.main-fund-content.main-structure-content .fund-structure-rte {position: relative;z-index: 9;}

.fund-structure-rte p {margin-left: auto;font-size: 18px;letter-spacing: 0.33em;max-width: 88%;text-align: right;}
.fund-structure-rte h5 {margin: 0 0 15px;font-size: 25px;letter-spacing: 0.3em;max-width: 84%;}
.fund-structure-rte:before {position: absolute;content: "";left: 0;right: 0;top:-90px;bottom:-50px; background-image: url(../images/structure-bg1.png), url(../images/structure-bg2.png), url(../images/structure-bg3.png); background-repeat: no-repeat;background-position: right top, left 34%, right bottom;}

.supply-amount {position: relative;width: 100%;max-width: 620px;display: flex;min-height: 520px;align-items: center;justify-content: center;margin:110px auto 100px;flex-direction: column;}
.supply-amount h5 {font-size: 30px;line-height: 1.3;margin: 0 0 20px;text-transform: uppercase;letter-spacing: 0.2em;}
.supply-amount .amount {font-size: 50px;background: linear-gradient(to bottom, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0));-webkit-background-clip: text;-webkit-text-fill-color: transparent;line-height: 1.26;font-weight: 700; letter-spacing: 0.2em;     /* -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;*/}
.supply-amount .token-cirlce{position: absolute;left: -70px;top: 0;pointer-events: none;}
.supply-amount .token-money1 {position: absolute;right: -30px;top: 30px;pointer-events: none;}
.supply-amount .token-money2 {position: absolute;right: -170px;top: 38%;pointer-events: none;}

.inner-container.token-container:before {position: absolute;content: "";left: 0;top: 0;right: 0;bottom: 0; background-image:url(../images/token-bg1.png), url(../images/token-bg3.png), url(../images/token-bg3.png), url(../images/token-bg2.png); background-repeat: no-repeat; background-position: left top, right 45px top 45px, left 45px bottom 45px, right bottom; pointer-events: none; z-index: 1;}

/* fund page css end */

/* road map css start */
.inner-container.road-map-container.milestone-container {padding-bottom: 0;}
.inner-container.milestone-container:before{position: absolute; content:""; left:-70px;bottom:-30px; width: 132px; height:350px; background:url(../images/milestone-icon1.png) no-repeat center center; z-index: 1;}
/* .inner-container.milestone-container:after{position: absolute; content:""; right:-40px;top:50%; width: 70px; height:70px; background:url(../images/milestone-icon2.png) no-repeat center center; z-index: 1;} */

.milestone-content {position: relative;z-index: 9;}
.milestone-content h4 {margin: 0 0 15px;font-size: 30px;letter-spacing: 0.33em;line-height: 1.3;}
.milestone-content img {display: block;margin: 0 auto -65px;}
.milestone-content p {font-size: 25px;letter-spacing: 0.33em;line-height: 1.3;text-align: right;max-width: 95%;margin-left: auto;margin-bottom: 30px;}
.map-milestone-block .section-title {position: relative;}
.milestone-slide0 .map-milestone-block .section-title:before{position: absolute; content:""; right:2%;bottom:-40px; width:218px; height:76px; background:url(../images/milestone-icon3.png) no-repeat center center;}

.map-partner-block {position: relative;z-index: 9; margin-bottom: -70px;}
.partners-content {text-align: center;}
.partners-content h4 {font-size: 30px;letter-spacing: 0.33em;line-height: 1.3;margin: 0 0 30px;}
.metaverses-list {padding: 0 20px;margin: 60px auto 0;list-style-type: none;display: flex;/* flex-wrap: wrap; */max-width: 992px;border: 3px solid #fff;border-radius: 61px;box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
.metaverses-list li {width: 20%;}
.metaverses-list li a {border-right: 3px solid #fff;display: flex;height: 100%;position: relative;justify-content: center;padding: 38px 15px;}
.metaverses-list li a .social-title {position: absolute;top: -40px;width: 100%;font-size: 22px;font-weight: 700;letter-spacing: 0px;text-transform: uppercase;}
.metaverses-list li:last-child a{border:none;}

.road-map-container.partner-container{padding-bottom:0px;display: flex;flex-direction: column;}
.road-map-container.partner-container:before{position: absolute;content: "";left: 0;top: 0;width: 100%;height: 100%; background-image:url(../images/partner-icon2.png); background-repeat: no-repeat; background-position: left top 75%; z-index:2;}
.partner-image {text-align: right;overflow: hidden;margin-top:auto;margin-right: -35px;position: relative;display: flex;margin-left: auto;justify-content: flex-end;}
.partner-image img {transform: translateX(30%);}
.map-partner-block .section-title{text-align: center;}
.map-partner-block .section-title h2{display: inline-block;}
.map-partner-block .section-title h2:after{position: absolute;content: "";    right: -60px; bottom: -116px;width: 160px;height:160px; background-image:url(../images/partner-icon1.png); background-repeat: no-repeat; background-position:center center;}

.road-map-container.team-container{padding-bottom:0px;display: flex;flex-direction: column;}
.road-map-container.team-container:before{position: absolute;content: "";left: 0;top: 0;width: 100%;height: 100%; background-image:url(../images/partner-icon2.png); background-repeat: no-repeat; background-position: left top 80%; z-index:2;}
.team-container .bottom-logo{margin-top:auto;display: flex;margin-left: auto;justify-content: flex-end; position: relative; z-index: 2; padding-bottom:10px;}
.team-container .bottom-logo img {max-width: 227px;}
.map-team-block{position: relative; z-index:9; min-height: 900px;}
.map-team-block .section-title{text-align: center;}
.map-team-block .section-title:after{position: absolute;content: "";left:0; top:50%;width:100%;height:129px; background-image:url(../images/team-star1.png) url(../images/team-star2.png); background-repeat: no-repeat; background-position:center center; transform: translateY(-50%); pointer-events: none;}
.map-team-block .team-content p {margin: 0 auto;max-width: 82.5%;font-size: 25px;letter-spacing: 0.33em;line-height: 1.3;}

.other-miltestone .map-milestone-block .section-title:before{display: none;}
.other-miltestone .milestone-banner{position: relative;}
.other-miltestone .milestone-banner .main-img {margin-bottom: -20%;}
.other-miltestone .milestone-banner .shape1 {position: absolute;right: 0;top:-50px; margin: 0px; max-height: 48%;}
.other-miltestone .milestone-banner .shape2 {position: absolute;left: 50%;top: 50%;margin: -40px 0 0;transform: translate(-50%,-50%);max-height: 100%;}
.other-miltestone .milestone-banner .shape2 + .main-img {margin-bottom: -40px;}

.other-miltestone .milestone-banner .shape3 {position: absolute;left: 2%;top: 20%;margin: -40px 0 0;max-height: 40%;right: -10px;}
.other-miltestone .milestone-banner .shape3 + .main-img {margin-bottom: -23%;}

.other-miltestone .milestone-banner .shape4 {position: absolute;left: 50%;top: 50%;margin: -40px 0 0;transform: translate(-50%,-50%);max-height: 100%;}
.other-miltestone .milestone-banner .shape4 + .main-img {margin-bottom: -55px;}

.milestone-wrapper {position: relative;}
.wave-effect {
    position: absolute;
    left: 50%;
    top: 100px;
    overflow: hidden;
    width: 100%;
    transform: translateX(-50%);
    max-width: 1019px;
}
.wave-effect .video{width:170%;opacity: 0.2;position: absolute;left: 50%;top: 50%;height: auto;transform: translate(-29%, -52%);}
.wave-effect img {display: block; margin: 0 auto 0px; opacity: 0;}
.milestone-banner{position: relative;}
.milestone-banner .main-img {opacity: 0; margin-bottom: 0;}
.milestone-content {display: flex !important;flex-direction: column; min-height:850px;}

.milestone-banner .shape {position: absolute;left: 0;top: 0; margin:0;}
.milestone-content.milestone-item2 .shape{top:-40px;max-height: 48%;right:0; left:auto;}
.milestone-content.milestone-item3 .shape{left: 50%;top: 50%;transform: translate(-50%,-50%);max-height: 100%; margin-top: -20px;}
.milestone-content.milestone-item4 .shape{left: 2%;top: 0%;max-height:40%; right: -10px;}
.milestone-content.milestone-item5 .shape{left: 50%;top: 50%;transform: translate(-50%,-50%);max-height: 100%;}
.milestone-content.milestone-item1 .milestone-banner {margin-bottom: -60px;}
.milestone-content.milestone-item2 .milestone-banner {margin-bottom: -12%;}
.milestone-content.milestone-item3 .milestone-banner {margin-bottom: -40px;}
.milestone-content.milestone-item4 .milestone-banner {margin-bottom: -20%;}
.milestone-content.milestone-item5 .milestone-banner {margin-bottom: -30px;}
.map-milestone-block .milestone-button{position: absolute; right:-40px;top:50%; width: 70px; height:70px; z-index: 1; cursor: pointer;}

.landing-container{overflow: hidden;}
.landing-container .box-bg{display: flex; align-items: center; justify-content: center;}
.landing-container .box-bg .world-image{position: relative;transform: translate(0px,0px);}
.landing-container .box-bg .world-image{
    -webkit-animation-name: world;
	animation-name: world;
    -webkit-animation-duration:15s;
	animation-duration: 15s;
	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes world{
    0%{
        transform: translate(0px,0px) ;
    }
    20%{
        transform: translate(30px,0px);
    }
    40% {
        transform: translate(0px,0px);
    }
    60% {
        transform: translate(-30px,0px);
    }
    80% {
        transform: translate(0px,30px);
    }
    100% {
        transform: translate(0px,0px);
    }

}

/* road map css end */

/* responsive design */
@media screen and (min-width:1900px) and (min-height:1000px) {
    .sidebar-nav .main-nav > li{margin-bottom:70px;}
    
}
@media screen and (max-width:1799px){
    .main-home-content{min-height:650px; padding-bottom: 50px;}
    .main-home-content p {font-size: 20px;letter-spacing: 4px;}
    .main-about-content{background-position: top center;}
    .main-about-content .about-bottom p{max-width: 80%;}
    .main-about-content .about-top {padding-bottom:210px;}
    .section-title h2{font-size: 65px;}
    .ecosystem-main-info .top-heading .right-btn{margin-left: auto;}
    .ecosystem-main-info .top-heading .left-nav{order:1;}
    .algorithmic-rte p {font-size: 20px;}
    .inner-container.algorithm-container:before{background-size: 80px; top: 200px;}
    .marketplace-list{background-position: right 3% top 0px, 0% 75%;}
    .fund-overview-block .section-title h2:after{background-size: 150px;     right: -91px;width: 122px;height: 170px;top: -53px;}
    .fund-heading p {font-size: 20px;}    
    .fund-heading h4{font-size: 24px;}
    .fund-main-info .left-nav .link-list li a{letter-spacing: 3px;}

    .supply-amount{max-width: 420px;    min-height: 300px;}    
    .supply-amount .amount {font-size: 30px;}
    .supply-amount h5{font-size: 20px;margin: 0 0 10px;}
    .supply-amount .token-cirlce{max-height: 300px; left: -30px;}
    .supply-amount .token-money1{max-height: 70px;right: 0px;}
    .supply-amount .token-money2 {right: -100px;top: 36%;max-height: 100px;}
    .inner-container.token-container:before{ background-position: left top, right 20px top 20px, left 20px bottom 20px, right bottom; background-size: 100px;}
    .map-partner-block .section-title h2:after{right: -90px;}
    .metaverses-list li a .social-title{font-size: 18px;}
}
@media screen and (max-width:1599px){
    .main-about-content .about-bottom p:first-child,
    .main-about-content .about-bottom p {font-size: 16px; max-width: 90%;letter-spacing: 0.20em;}
    .main-about-content .about-top p {font-size: 20px; letter-spacing: 0.20em;}
    .home-main-info .inner-container{max-width: calc(100% - 200px);}
    .home-main-info::before,.home-main-info::after{width:80px; height: 120px;}
    .about-main-info .inner-container{max-width: calc(100% - 200px);}
    .about-main-info::before,.about-main-info::after{width:80px; height: 120px;}
    

    .section-title h2{font-size:50px;}
    .section-title h2:before{width:200px;}

    .hiw-list .hiw-item .hiw-text p {font-size: 16px; letter-spacing: 0.20em;}
    .about-main-info.how-it-work .inner-container {max-width: calc(100% - 200px);}
    .hiw-content h4 {font-size: 20px; letter-spacing: 0.20em;}
    .ecosystem-heading p {font-size: 20px; letter-spacing: 0.20em;}
    .ecosystem-heading h4 {font-size: 24px;}
    .fragmenting-slider .slick-arrow {width: 40px;height: 40px; left: -20px;}
    .fragmenting-slider .slick-next.slick-arrow{right: -20px; left: auto;}
    .fragmenting-slider .slick-arrow:before{margin-top: -6px;margin-left: -3px;width: 12px;height: 12px;}
    .fragmenting-slider .slick-next.slick-arrow:before {margin-left: -9px;}
    .ecosystem-main-info .left-nav .link-list li a{letter-spacing: 3px;}
    

    .marketplace-item .marketplace-text p {font-size: 16px;letter-spacing: 0.2em;}
    .marketplace-list{    background-size:auto 20%, auto 27%; background-position: right 3% top 0px, 30% 75%;}
    .algorithmic-rte p {font-size: 16px; letter-spacing: 0.2em;width:85%;}
    .algorithmic-block {background-size:auto 130px, auto 70px; padding: 30px 0 60px;}

    .about-main-info.how-it-work::before,
    .about-main-info.how-it-work::after{background-size: 60px; width: 80px; height:40%;}
    .main-about-content:before{background-position: 0 bottom;}
    .inner-container.algorithm-container:before{width:100px; height: 100px;}
    .fund-overview-block .section-title h2:after{right:-97px;}
    .fund-overview-content p{max-width: 90%; font-size: 16px;}    

    .fund-main-info .left-nav .link-list li a{font-size: 16px;}
    .fund-main-info .top-heading .right-btn .btn {font-size: 16px;padding: 0 20px;height: 45px;}
    .fund-main-info .top-heading .left-nav{order:1; width:100%;}
    .fund-main-info .top-heading .right-btn{margin-left: auto;}
    
    .fund-structure-rte h5{font-size:20px; letter-spacing: 0.20em;}
    .fund-structure-rte p{font-size: 16px; letter-spacing: 0.20em;}

    .fund-structure-rte:before{    background-position: right top, left 39%, right bottom;background-size: 90px, 100px, 100px;bottom: 0;top:-50px;} 
    .milestone-content h4{font-size:20px;letter-spacing: 0.22em;}
    .milestone-content p {font-size: 16px;letter-spacing: 0.22em;}    

    .metaverses-list li a .social-title{font-size: 14px;top: -32px;}
    .map-partner-block{margin-bottom: -20px;}

    .map-team-block .team-content p{font-size: 20px;}
    .map-team-block{min-height: 750px;}

    .inner-container.milestone-container:before {left: -40px;bottom: -10px;width: 70px;height: 150px;background-size: contain;}
    .inner-container.milestone-container:after {right: -23px;top: 50%;width: 40px;height: 40px;background-size: contain;}

    .map-milestone-block .milestone-button{top:60%;}
    .milestone-content{min-height:600px;}
}
@media screen and (max-width:1365px){
    .sidebar-nav .main-nav > li {margin: 0 0 20px;}
    .inner-container{max-width: calc(100% - 100px);}
    .ecosystem-heading p {font-size: 18px;}
    
    .ecosystem-main-info .left-nav .link-list li a{    padding: 5px 10px;    font-size: 16px;}
    .announcement-text{font-size:20px; height:50px;}
    .announcement-text p{top:15px;}
    .fund-heading h4,
    .fund-heading p,
    .fund-overview-content p{letter-spacing: 0.2em;}
    

    .road-map-container.team-container:before{background-size: 320px;background-position: left top 60%;}
    .map-milestone-block .milestone-button { width: 40px; right: -23px;}
}
@media screen and (max-width:1199px){
    .sidebar{width: 200px;}
    /* .sidebar-logo{padding: 30px 10px 30px;} */
    .sidebar-nav .main-nav > li {margin: 0 0 15px;}
    .sidebar-nav .main-nav li a span{padding: 4px 15px; letter-spacing:3px;font-size: 16px; min-width: 117px;} 
    .sidebar-nav .main-nav li a span:before {right: 4px;border-top: 3px solid;border-right: 3px solid;width: 10px;height: 10px;margin-top: -8px;}
    
    .sidebar-nav .main-nav > li > a img {max-height: 30px;}
    .sidebar-social h5 {font-size: 16px; letter-spacing: 3px; margin: 0 0 10px;}
    .social-links li img {max-height: 24px;}
    .page-box{padding: 32px 32px 0px 200px;}
    .left-nav .link-list li a {padding: 5px 20px;border-radius: 10px 10px 0px 0px;font-size: 16px;letter-spacing: 3px;}
    .btn{height: 40px; padding: 0 15px; letter-spacing: 3px; font-size: 16px;}
    .home-content .btn {max-width: 225px;}
    .home-content h2{margin: 60px 0 100px; font-size: 20px; line-height: 30px;}
    .home-content ul li{font-size: 20px; line-height: 30px;}  

    .home-main-info .inner-container{max-width: calc(100% - 100px);}
    .home-main-info::before,.home-main-info::after{width:60px; height:80px;}

    .section-title h2{font-size:40px;}
    .section-title{margin-bottom: 30px;}

    .about-main-info .inner-container {max-width: calc(100% - 100px);}
    .about-main-info::before,.about-main-info::after{width:60px;height:80px;}   
    .main-about-content .about-bottom p:first-child,
    .main-about-content .about-bottom p {font-size: 14px; letter-spacing: 0.10em;}
    .main-about-content .about-top p {font-size:16px; letter-spacing: 0.10em;}
    .hiw-list .hiw-item .hiw-text p{font-size: 14px; letter-spacing: 0.10em;}
    .about-main-info.how-it-work .inner-container {max-width: calc(100% - 100px);}

    .ecosystem-main-info .top-heading .left-nav{margin-left: -20px; margin-right: -20px;}
    .ecosystem-heading p { font-size: 16px;}
    .marketplace-item .marketplace-text p {font-size: 14px;}

    .about-main-info.how-it-work::before, .about-main-info.how-it-work::after {background-size: 40px;width: 40px;height: 30%;}
    .marketplace-list {background-size: auto 20%, auto 20%;}
    .ecosystem-heading p{max-width: 100%;}
    .inner-container.algorithm-container:before{top: 150px;}
    .fund-overview-block .section-title h2:after {right: -85px;top: -40px;height: 120px; background-size: 107px;}
    .fund-overview-block:before{background-position: right 0% top 100px, 4% 80%, 40% bottom, 73% 97%;}

    .milestone-content h4 {font-size: 20px;letter-spacing: 0.2em;}
    .milestone-content p {font-size: 16px;}
    .milestone-content img { margin: 0 auto -45px;}
    .metaverses-list li a .social-title{font-size: 12px;}
    .partners-content h4 {    font-size: 20px;    letter-spacing: 0.2em;}
    .metaverses-list{margin-top:0px;}
    .partner-image img{max-height: 270px;}
    .road-map-container.partner-container:before{    background-size: 290px;     background-position: left top 96%;}
    .map-team-block .team-content p{max-width: 100%;}
    .map-team-block .team-content p {font-size: 16px;letter-spacing: 0.2em;}
    .map-milestone-block .milestone-button {top: 36%;}
    .milestone-content{min-height:450px;}
    
}
@media screen and (max-width:991px){
    .inner-container {max-width: calc(100% - 60px); padding:70px 30px 70px;}
    .top-heading{padding: 0 20px;}
    .home-content ul li {font-size: 16px;    line-height: 26px;    background-size: 18px auto;    padding-left: 30px;}
    .home-main-info .inner-container{max-width: calc(100% - 60px);}
    .home-main-info::before,.home-main-info::after{width:20px; height:30px;}   

    .about-main-info .inner-container{padding-bottom: 30px;}
    .about-main-info .inner-container {max-width: calc(100% - 60px);}
    .about-main-info::before,.about-main-info::after{width:20px; height:30px;}   
    .main-about-content {background-position: top 50px center;background-size: 330px;}
    .main-about-content .about-top {padding-bottom: 90px;}
    .about-main-info.how-it-work .inner-container { max-width: calc(100% - 60px);}
    .section-title h2 {font-size: 30px;}

    .ecosystem-main-info .left-nav .link-list li a {padding: 5px 10px;font-size: 12px;text-align: center;display: flex;letter-spacing: 2px;}
    .ecosystem-heading h4 {font-size: 18px;letter-spacing: 0.2em;}
    .ecosystem-heading p { font-size: 14px;}

    .fragmenting-box{padding: 30px 0px 50px 0;}
    .algorithmic-rte p {font-size: 14px; }    
    .main-about-content:before{    height: 70px;}
    .inner-container.algorithm-container:before{top: 100px;}
    .marketplace-list {background-position: right 3% top 0px, 30% 90%;}
    .fund-overview-block:before {background-position: right 0% top 100px, 4% 80%, 40% bottom, right 93%;background-size: auto,60px,90px, 100px;}
    .fund-heading p {font-size: 16px;}
    .fund-overview-block {padding-bottom: 140px;}
    .fund-overview-content p{font-size: 14px;}
    .fund-overview-block .section-title h2:after{right: -88px;}
    
    .fund-main-info .left-nav .link-list li a {font-size: 14px;letter-spacing: 0.2em;padding: 5px 10px;margin-right: 5px;}

    .fund-structure-rte h5 {font-size: 18px;}    
    .fund-structure-rte p {font-size: 14px;}
    .fund-structure-rte:before {background-size: 50px, 50px, 70px;bottom: 0;top: -10px;}

    .supply-amount {max-width: 270px;min-height:200px; margin-top:70px;}
    .supply-amount .amount {font-size: 22px;letter-spacing: 0.1em;}
    .supply-amount h5 {font-size: 16px; letter-spacing: 0.1em;}
    .supply-amount .token-cirlce {max-height: 180px;}
    .supply-amount .token-money1 {max-height: 40px;}
    .supply-amount .token-money2 {right: -50px;top: 42%;max-height: 50px;}
    .inner-container.token-container:before{background-size:70px;}   
    
    .inner-container.milestone-container:before{height:90px;}
    .inner-container.milestone-container:after{height:30px;}
    .milestone-slide0 .map-milestone-block .section-title:before{background-size:contain; width:120px;}

    .metaverses-list {padding: 0 5px;}
    .metaverses-list li a{padding: 8px 10px;}
    .metaverses-list li a .social-title {font-size:9px;top: -20px;}
    .map-team-block {min-height: 500px;}   
    .road-map-container.team-container:before {background-size: 210px;background-position: left top 65%;}
    .milestone-content p {font-size: 14px;}   
}